<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card-body">
        <img
          class="rounded mx-auto d-block"
          src="../../../assets/img/login.png"
          alt=""
        />

        <form (ngSubmit)="addUser(user)" #user="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter username"
              name="username"
              [(ngModel)]="username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <!-- <div class="form-group">
            <label for="InputPassword2">Re-Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div> -->
          <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div> -->
          <button type="submit" class="btn btn-primary btn-block">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
