<!--
  <div style="text-align:center">
  <h1>{{ title }}</h1>
-->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">CRUD PostgreSQL</a>
  <form class="form-inline">
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      routerLink="/home"
    >
      Home
    </button>
  </form>
</nav>

<router-outlet></router-outlet>
