<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card-body">
        <img
          class="rounded mx-auto d-block"
          src="../../../assets/img/login.png"
          alt=""
        />

        <form (ngSubmit)="loginUser(login)" #login="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Username or Email address</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter your username"
              name="username"
              [(ngModel)]="username"
            />
            <!-- <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              > -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
